{{ 'component-popup.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<modal-opener class="popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-{{ section.id }}" {{ section.shopify_attributes }}>
  <button id="ProductPopup-{{ section.id }}" class="popup-modal__button link" type="button" aria-haspopup="dialog">{{ section.settings.text }}</button>
</modal-opener>

<modal-dialog id="PopupModal-{{ section.id }}" class="popup-modal" {{ section.shopify_attributes }}>
  <div role="dialog" aria-label="{{ section.settings.text }}" aria-modal="true" class="popup-modal__content" tabindex="-1">
    <button id="ModalClose-{{ section.id }}" type="button" class="popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
    <div class="popup-modal__content-info">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h1 class="popup-modal__content-info__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
              {{ block.settings.heading | replace: 'p>', 'span>' }}
            </h1>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</modal-dialog>

{% schema %}
{
  "name": "t:sections.popup.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Pop-up link text",
      "label": "t:sections.popup.setings.link_label.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.popup.blocks.heading.name",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.popup.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.popup.presets.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
